pipeline/1 create_stg_tables.json
{
	"name": "1 create_stg_tables",
	"properties": {
		"activities": [
			{
				"name": "Get List of files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sql_schema",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get List of files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileName",
					"value": {
						"value": "@concat('https://blobetl6.blob.core.windows.net/dev1 / SQL scripts / create schema scripts',activity('Get List of files').output.itemName)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"fileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "stagingPipeline"
		},
		"annotations": []
	}
}